[Unit]
Description=SourceHut git services
Requires=sourcehut-git.timer
Requires=sourcehut-git-api.service

[Service]
Type=simple
WorkingDirectory=/usr/share/srht/git
ExecStart=/usr/bin/gunicorn gunicorn-run:app -n git.sr.ht -b [::]:53214

