[Unit]
Description=SourceHut metadata and accounts service

[Service]
Type=simple
WorkingDirectory=/usr/share/srht/meta
ExecStart=/usr/bin/gunicorn gunicorn-run:app -n meta.sr.ht -b [::]:53211

