[Unit]
Description=SourceHut metadata and accounts service

[Service]
Type=simple
ExecStart=/usr/bin/gunicorn /usr/share/srht/meta/run-gunicorn.py -n meta.sr.ht -b [::]:53211

